.walpapper{
    width: 100%;
    height: 800px;
    filter: brightness(30%);
}

.Container{
    width: 1000px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 20%;
    left: 25%;
}

.Container h1{
    color: #ffffff;
    font-family: "Roboto Light";
    font-size: 75px;
}

.Container p{
    font-family: "Roboto Light";
    font-size: 33px;
    margin-top: 65px;
    margin-bottom: 30px;
    padding-left: 85px;
    padding-right: 85px;
}

.ant_btn_1{
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
    height: 55px;
    padding: 4px 30px;
    font-size: 20px;
    border-radius: 15px;
    background: #E8B227;
    border: 4px solid black;
    font-weight: bold;
    margin-top: 30px;
}

.iconTam{
    margin-left: 15px;
    width: 35px;
    position: relative;
    margin-bottom: 5px;
}

.boxImg{
    border: 4px solid black;
    border-radius: 150px;
    width: 700px;
}

.col h2{
    font-size: 40px;
    font-family: Roboto;
    font-weight: bolder;
}

.col p{
    font-size: 24px;
    font-family: Roboto;
    padding-left: 122px;
}

.menuList{
    list-style: none;
    font-weight: bold;
    padding-left: 122px;
}

.iconlistTam{
    width: 90px;
    margin-right: 40px;
}
.introductionBody{
    margin: 80px auto;
width: 1000px;
    font-family: Roboto;

}
.introductionBody h2{
    font-size: 42px;
    font-weight: bolder;
}
.introductionBody p{
    font-size: 24px;
    margin-top: 40px;
}

.sectionAbout{
    margin-right: auto;
    background-color: #31363A;
    padding: 45px 40px 55px;
}

.sectionAbout h2{
    color: white;
    font-family: Oswald;
    font-weight: bold;
    font-size: 50px;
    margin-top: 40px;
margin-bottom: 40px;
}

.sectionAbout h3{
    color: #AF4636;
    font-family: Roboto;
    font-weight: lighter;
    font-size: 35px;
    margin-bottom: 40px;
}

.sectionAbout p{
    color: white;
    font-family: Roboto;
    font-size: 30px;
    margin-bottom: 40px;
}

.sectionBox{
    margin-top: 40px;
border-radius: 70px;
background: white;
    border: 4px solid black;
width: 400px;
    height: 358px;
}

.sectionBox h3{
    color: #AF4636;
    font-size: 50px;
    font-family: Oswald;
    font-weight: bold;
    padding-top: 28px;
}

.sectionBox l{
    font-family: Roboto;
    font-size: 25px;
    font-weight: 450;
    position: relative;
    top: 15px;
}

.imgForm{
    width: 70%;
height: 430px;
margin-left: 80px;
}

.sectionForm{
    padding: 45px 40px 55px;
}

.formS{
    padding: 130px 40px 55px;
}

.space_contact {
    margin-top: 40px;
margin-bottom: 35px;
}

.element.style {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 300px;
}

.ant-input {
    background-color: #C4C4C4;
}

.ant-input-number-input {
    background-color: #C4C4C4;
}

.ant-form-item textarea.ant-input {
    height: 300px;
}

.optionsColors {
    color: #000000;
    font-size: 25px;
    font-weight: normal;
}

a {
    color: black;
}