.Ho{
    background-image: url("../imagenes/Group 7.png")  ;
    padding: 40px;

}

.Hola{
    background-image: url("../imagenes/Group 5.png") ;
    padding: 80px;
}


.card{
    border: none!important;
    width: 615px;
}

.facebook{
    background-color: red;

}